<p>
  <%= address.label :street %><br />
  <%= address.text_field :street %> 
</p>
<p>
  <%= address.label :city %><br />
  <%= address.text_field :city %> 
</p>
<p>
  <%= address.label :state %><br />
  <%= address.text_field :state %>
</p>
<p>
  <%= address.label :postal %><br />
  <%= address.text_field :postal %> 
</p>
<p>
  <%= address.label :country %><br />
  <%= address.text_field :country %> 
</p>

