<p>
  <b>Street:</b>
  <%=h @address.street %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city %>
</p>

<p>
  <b>State:</b>
  <%=h @address.state %>
</p>

<p>
  <b>Postal:</b>
  <%=h @address.postal %>
</p>

<p>
  <b>Country:</b>
  <%=h @address.country %>
</p>

<p>
  <b>Type:</b>
  <%=h @address.type %>
</p>

<p>
  <b>User:</b>
  <%=h @address.user_id %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>